<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.github.mdr.folderclasspathcontainer.FolderClasspathContainerInitializer"
            id="com.github.mdr.folderclasspathcontainer.FolderClasspathContainer">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            id="com.github.mdr.folderclasspathcontainer.FolderClasspathContainer"
            name="All Jar Files in a Folder"
            class="com.github.mdr.folderclasspathcontainer.FolderClasspathContainerPage">
      </classpathContainerPage>
   </extension>

</plugin>
