<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.github.mdr.folderclasspathcontainer.FolderClasspathContainerInitializer"
            id="com.github.mdr.folderclasspathcontainer.FolderClasspathContainer">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            id="com.github.mdr.folderclasspathcontainer.FolderClasspathContainer"
            name="All Jar Files in a Folder"
            class="com.github.mdr.folderclasspathcontainer.FolderClasspathContainerPage">
      </classpathContainerPage>
   </extension>

   <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="com.github.mdr.folderclasspathcontainer.AddToClasspathAction1"
        objectClass="org.eclipse.core.resources.IFolder">
	    <action id="com.github.mdr.folderclasspathcontainer.AddToClasspathAction"
	       label="Add All Jars In Folder To Classpath"
	       menubarPath="org.eclipse.jdt.ui.buildpath.menu"
	       class="com.github.mdr.folderclasspathcontainer.AddToClasspathAction"
	       enablesFor="1">
	    </action>
	    <visibility>
           <objectState name="projectNature" value="org.eclipse.jdt.core.javanature"/>
        </visibility>	        
	 </objectContribution>
	 </extension>

</plugin>
